{% extends 'profile.html' %}
{% load staticfiles %}
{% block title %}Assignments{% endblock %}
{% block extra_style %}
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/profile-style1.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/profile-style2.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'assets/css/search.css' %}" />
{% endblock %}
{% block profile_content %}
    {% if task_error %}
        <br><h2 style="margin-left:30px">{{ task_error }}</h2>
    {% else %}
        {% if assignment_list %}
            <form class="navbar-form" role="search" method="get" action="{% url 'assignments' subject_id %}">
              <div class="input-group add-on" style="width: 115%;margin-left: -8px;">
                <input class="form-control" placeholder="Search" name="q" id="search-box" type="text">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
              </div>
            </form><br>
            <table class="table table-striped">
               <thead>
                  <tr>
                     <th>Assignment Title</th>
                     <th>Download</th>
                     <th>Solve</th>
                  </tr>
               </thead>
               <tbody>
                  {% for assignment in assignment_list %}
                      {% for id in assignment_ids %}
                          {% if forloop.counter == forloop.parentloop.counter %}
                              <tr>
                                 <td>{{ assignment.title }}</td>
                                 <td>
                                    <a href="{{ assignment.file.url }}">Download</a>
                                 </td>
                                 <td>
                                    <a href="solve/{{ id }}">Solve</a>
                                 </td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
               </tbody>
            </table>
        {% elif subjects %}
            {% for subject in subjects %}
                <br><h3 style="margin-left:30px"><a href="{{ forloop.counter }}">{{ subject }}</a></h3>
            {% endfor %}
        {% else %}
            <br><h2 style="margin-left:30px">Assignments not found.</h2>
        {% endif %}
    {% endif %}
{% endblock %}