{% extends 'profile.html' %}
{% block title %}Attendance{% endblock %}
{% block profile_content %}
    <table class="table table-striped">
       <thead>
          <tr>
             <th>Days</th>
             <th>Attendance</th>
          </tr>
       </thead>
       <tbody>
          {% for field in fields %}
              <tr>
                  {% for day in days %}
                      {% if forloop.counter == forloop.parentloop.counter %}
                          <td>{{ day }}</td>
                          {% if field == None %}
                          <td>Not yet.</td>
                          {% elif field == True %}
                          <td>You made it.</td>
                          {% else %}
                          <td>Nope.</td>
                          {% endif %}
                      {% endif %}
                  {% endfor %}
              </tr>
          {% endfor %}
       </tbody>
    </table>
{% endblock %}