{% extends 'index.html' %}
{% block title %}Payments{% endblock %}
{% block home_active %}{% endblock %}
{% block payments_active %}active{% endblock %}
{% block content %}
    <table class="table table-striped">
       <thead>
          <tr>
             <th>Year</th>
             <th>First Semester</th>
             <th>Second Semester</th>
             <th>Total</th>
          </tr>
       </thead>
       <tbody>
          <tr>
             <td>First Grade</td>
             <td>3000 $</td>
             <td>2800 $</td>
             <td>5800 $</td>
          </tr>
          <tr>
             <td>Second Grade</td>
             <td>3000 $</td>
             <td>2800 $</td>
             <td>5800 $</td>
          </tr>
          <tr>
             <td>Third Grade</td>
             <td>3000 $</td>
             <td>2800 $</td>
             <td>5800 $</td>
          </tr>
          <tr>
             <td>Fourth Grade</td>
             <td>3000 $</td>
             <td>2800 $</td>
             <td>5800 $</td>
          </tr>
          <tr>
             <td>Fifth Grade</td>
             <td>3000 $</td>
             <td>2800 $</td>
             <td>5800 $</td>
          </tr>
          <tr>
             <td>Sixth Grade</td>
             <td>3000 $</td>
             <td>2800 $</td>
             <td>5800 $</td>
          </tr>
       </tbody>
    </table>
{% endblock %}